body{
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}

/* <!-- Header Section Start Here -------------------> */
header{
    background-color: #2d25a0;
    width: 100%;
    height: 677px;
    justify-content: center;
    align-items: center;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar{
    width: 73%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation-content .fas{
    font-size: 40px;
    color: white;
}

/* Login Button */
.login-button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 5000;
    padding: 10px 24px 10px 24px;
    outline: none;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;
    border-radius: 6px;
    border: 3px solid rgb(0, 217, 255);
}

.login-button a:hover{
    color: black;
    cursor: pointer;
    letter-spacing: 1px;
}


.login-button a:before{
    transition: 0.3s all ease;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    position: absolute;
    background-color: rgb(0, 217, 255);
}


.login-button a:hover:before{
    transition: 0.3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}





/* Top Section Here */
.Top-Section-with-img{
    padding-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.Top-Text-section{
    margin-left: 25%;
}

.Top-Text-section h1{
    padding-right: 62px;
    font-size: 64px;
    font-weight: 700;
    color: white;
    transition: ease-in .3s;
}


.Top-Text-section a{
    border-radius: 4px;
    background-color:#E02C6D;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 7000;
    padding: 10px 24px 10px 24px;   
    transition: ease-out 0.3s;
}
.Top-Text-section a:hover{
    box-shadow: inset 200px 0 0 0 rgb(0, 217, 255);
    color: black;
    cursor: pointer;
    letter-spacing: 1px;
}

/* Top Image Section */
.Top-image-section{
    position: relative;
    margin-right: 29%;
}

.Top-image-section img{
    width: 100%;
    height: auto;
}


header:hover .football-man{
    transform: rotate(30deg);
    transition: transform 0.5s ease-in ;
    transform-origin: top;
}

.football-man{
    width: 85px;
    height: auto;
    position: absolute;
    top: 165px;
    left: 213px;
}

.ball{
    left: 74px;
    top: 281px;
    position: absolute;
    height: 65px;
    width: 65px;
}

header:hover .ball{
    transform: translatey(-400px) translatex(-1000px);
    transition: transform 2s ease-out .5s;
}





/* Main Section Start Here-------------------------- */

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-players{
    padding-top: 70px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.players{
    border-radius: 5px;
    padding: 15px 15px 33px 15px;
    box-shadow: 0px 0px 30px 0px rgba(128, 128, 128, 0.473);
}

.players img{
    width: 100%;
    height: auto;
}



.players h1{
    font-size: 28px;
    font-weight: 700;
    margin: 10px 0px;
}


.players p{
    margin: 0;
    font-weight: 100;
    color: gray;
}

.players:hover{
    border: 2px solid black;
}







/* Highlights Section Start Here------------------------ */

.Highlights-section{
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-top: 165px;
}

.All-Highlights{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
}

.Highlights-Text h1{
    font-size: 48px;
    color: #0A0826;
    margin: 0;
    padding-right: 30px;
}

.Highlights-Text p{
    color: gray;
    margin: 8px 0px 24px 0px;
    padding-right: 70px;
}

.Highlights-Text a{
    
    border-radius: 4px;
    background-color:#E02C6D;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 7000;
    padding: 10px 24px 10px 24px;   
    transition: ease-out 0.3s;
}

.Highlights-Text a:hover{
    box-shadow: inset 200px 0 0 0 black;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
}

.Highlights-Image img{
    width: 100%;
    height: auto;
}



/* Footer Section Start Here-------------------- */
footer{
    width: 100%;
    margin-top: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.footer-content{
    width: 40%;
    text-align: center;
}

.footer-football-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.social-icons .fab{
    margin-right: 20px;
    font-size: 25px;
    padding: 8px;
    background-color: rgba(128, 128, 128, 0.548);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.411);
}

.coppyright{
    color:  gray;
    letter-spacing: 1.3px;
}











/* -----------------------------------------------------------------
                        Media Queries
------------------------------------------------------------------ */

/* For Mobile Device---------------------------------------------- */

@media only screen and (max-width:689px) {


/* <!-- Header Section Start Here -------------------> */
header{
    background-color: #2d25a0;
    width: 100%;
    height: 677px;
    justify-content: center;
    align-items: center;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar{
    width: 73%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation-content .fas{
    font-size: 35px;
    color: white;
}

/* Login Button */
.login-button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 5000;
    padding: 10px 24px 10px 24px;
    outline: none;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;
    border-radius: 6px;
    border: 3px solid rgb(0, 217, 255);
}

.login-button a:hover{
    color: black;
    cursor: pointer;
    letter-spacing: 1px;
}


.login-button a:before{
    transition: 0.3s all ease;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    position: absolute;
    background-color: rgb(0, 217, 255);
}


.login-button a:hover:before{
    transition: 0.3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}







/* Top Section Here */
.Top-Section-with-img{
    padding-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
}

.Top-Text-section{
    margin-left: 9%;
}

.Top-Text-section h1{
    padding-right: 62px;
    font-size: 36px;
    font-weight: 700;
    color: white;
    transition: ease-in .3s;
}


.Top-Text-section a{
    border-radius: 4px;
    background-color:#E02C6D;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 7000;
    padding: 10px 24px 10px 24px;   
    transition: ease-out 0.3s;
}
.Top-Text-section a:hover{
    box-shadow: inset 200px 0 0 0 rgb(0, 217, 255);
    color: black;
    cursor: pointer;
    letter-spacing: 1px;
}



/* Top Image Section */
.Top-image-section{
    margin-top: 40px;
    width: 85%;
    position: relative;
    margin-left: 9%;
}

.Top-image-section img{
    width: 100%;
    height: auto;
}


header:hover .football-man{
    transform: rotate(30deg);
    transition: transform 0.5s ease-in ;
    transform-origin: top;
}

.football-man{
    width: 44px;
    height: auto;
    position: absolute;
    top: 92px;
    left: 120px;
}

.ball{
    left: 39px;
    top: 159px;
    position: absolute;
    height: 65px;
    width: 45px;
}

header:hover .ball{
    transform: translatey(-400px) translatex(-1000px);
    transition: transform 2s ease-out .5s;
}









/* Main Section Start Here-------------------------- */

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-players{
    padding-top: 70px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}

.players{
    border-radius: 5px;
    padding: 15px 15px 33px 15px;
    box-shadow: 0px 0px 30px 0px rgba(128, 128, 128, 0.473);
}

.players img{
    width: 100%;
    height: auto;
}



.players h1{
    font-size: 28px;
    font-weight: 700;
    margin: 10px 0px;
}


.players p{
    margin: 0;
    font-weight: 100;
    color: gray;
}

.players:hover{
    border: 2px solid black;
}








/* Highlights Section Start Here------------------------ */

.Highlights-section{
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-top: 60px;
}

.All-Highlights{
    width: 88%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 90px;
}

.Highlights-Text h1{
    font-size: 30px;
    color: #0A0826;
    margin: 0;
    padding-right: 10px;
}

.Highlights-Text p{
    color: gray;
    margin: 8px 0px 24px 0px;
    padding-right: 10px;
}

.Highlights-Text a{
    border-radius: 4px;
    background-color:#E02C6D;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 7000;
    padding: 10px 24px 10px 24px;   
    transition: ease-out 0.3s;
}

.Highlights-Text a:hover{
    box-shadow: inset 200px 0 0 0 black;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
}

.Highlights-Image img{
    margin-top: 29px;
    width: 100%;
    height: auto;
}






/* Footer Section Start Here-------------------- */
footer{
    width: 100%;
    margin-top: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.footer-content{
    width: 80%;
    text-align: center;
}

.footer-football-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}


.footer-football-image img{
    width: 100%;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.social-icons .fab{
    margin-right: 20px;
    font-size: 20px;
    padding: 8px;
    background-color: rgba(128, 128, 128, 0.548);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.411);
}

.coppyright{
    color:  gray;
    font-size: 12px;
    
}
















}